
<div class="content">

<form class="form-horizontal" method="post" action="/kerkesa/save" role="form" id="kerkesa">
    <div class="form-group">
        <label for="inputKlienti" class="col-md-2 control-label">Klienti</label>
        <div class="col-md-5">
            <input type="text" name="inputKlienti" class="form-control" id="inputKlienti" placeholder="Klienti" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputKerkesa" class="col-md-2 control-label">Kerkesa</label>
        <div class="col-md-5">
            <input type="text" name="inputKerkesa" class="form-control" id="inputKerkesa" placeholder="Kerkesa" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputZona" class="col-md-2 control-label">Zona</label>
        <div class="col-md-5">
            <input type="text" name="inputZona" class="form-control" id="inputZona" placeholder="Zona" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputData" class="col-md-2 control-label">Data Ora</label>
        <div class="col-md-5">
            <input type="text" name="inputData" class="form-control" id="datetimepicker1" placeholder="dd/mm/yyyy" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputTelefon" class="col-md-2 control-label">Telefon</label>
        <div class="col-md-5">
            <input type="number" name="inputTelefon" class="form-control" id="inputTelefon" placeholder="Telefon" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputCelular" class="col-md-2 control-label">Celular</label>
        <div class="col-md-5">
            <input type="number" name="inputCelular" class="form-control" id="inputCelular" placeholder="Celular" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-md-2 control-label">Email</label>
        <div class="col-md-5">
            <input type="email" name="inputEmail" class="form-control" id="inputEmail" placeholder="Email" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputProblemi" class="col-md-2 control-label">Problemi</label>
        <div class="col-md-5">
            <textarea class="form-control" name="inputProblemi" id="inputProblemi" placeholder="Problemi" ></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <button type="submit" class="btn blue pull-right">Ruaj</button>
        </div>
    </div>
</form>

</div>