<div class="content">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <p class="errore">Errore 403</p>
            <p class="not-auth">Pagina non autorizzata</p>
            <p class="not-auth">Hai cercato di accedere a una pagina riservata senza autorizzazione.</>

        </div>
    </div>
</div>