<div class="content">

<div class="portlet-button">
    <button type="button" id="portlet-show" class="btn btn-primary">Merr Te Dhenat</button>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet light hidden" id="my_portlet">
            <div class="portlet-body">
                <form class="form-horizontal" role="form" id="problemi">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputKlienti" class="col-md-12 control-label">Klienti</label>
                            <div class="col-md-12">
                                <input type="text" name="inputKlienti" class="form-control" id="dataKlienti" placeholder="Klienti" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputKerkesa" class="col-md-12 control-label">Kerkesa</label>
                            <div class="col-md-12">
                                <input type="text" name="inputKerkesa" class="form-control" id="dataKerkesa" placeholder="Kerkesa" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputZona" class="col-md-12 control-label">Zona</label>
                            <div class="col-md-12">
                                <input type="text" name="inputZona" class="form-control" id="dataZona" placeholder="Zona" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputData" class="col-md-12 control-label">Data Ora</label>
                            <div class="col-md-12">
                                <input type="text" name="inputData" class="form-control" id="dataOra" placeholder="dd/mm/yyyy" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputKonstatim" class="col-md-12 control-label">Konstatimi Problemit</label>
                            <div class="col-md-12">
                                <textarea class="form-control" name="inputKonstatim" id="dataKonstatim" placeholder="Konstatimi Problemit"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputTelefon" class="col-md-12 control-label">Telefon</label>
                            <div class="col-md-12">
                                <input type="number" name="inputTelefon" class="form-control" id="dataTelefon" placeholder="Telefon" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCelular" class="col-md-12 control-label">Celular</label>
                            <div class="col-md-12">
                                <input type="number" name="inputCelular" class="form-control" id="dataCelular" placeholder="Celular" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-md-12 control-label">Email</label>
                            <div class="col-md-12">
                                <input type="email" name="inputEmail" class="form-control" id="dataEmail" placeholder="Email" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputProblemi" class="col-md-12 control-label">Problemi</label>
                            <div class="col-md-12">
                                <textarea class="form-control" name="inputProblemi" id="dataProblemi" placeholder="Problemi" readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button id="zgjidhurButton" type="button" class="btn blue pull-left">Personalizzato</button>
                            <button id="paZgjidhurButton" type="button" class="btn blue pull-left" style="margin-left: 15px">OUT</button>
                        </div>
                    </div>
                    <div class="form-group hidden">
                        <div class="col-md-12">
                            <label for="accountId" class="col-md-12 control-label">User ID</label>
                            <input type="text" id="accountId" class="user-id" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END Portlet PORTLET-->
    </div>
</div>

</div>