<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Report</h3>
        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 250px;">
                <input id="searchReportTable" type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>

        </div>
    </div>
    <div class="box-body">
        <div class="form-group">
            <label for="fromToRange">Date range:</label>
            <div id="fromToRangeReportQA" class="form-control input-group" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;margin-bottom:5px ;width: 50%">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>

        </div>

        <table id="report_table" class="table">
            <thead>
            <tr>
                <th>Klienti</th>
                <th>Kerkesa</th>
                <th>Zona</th>
                <th>Data Ora</th>
                <th>Telefon</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Statusi</th>
                <th class="hidden">Problemi</th>
                <th class="hidden">Konstatimi Problemit</th>
                <th>Created By</th>
                <th>Created At</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Klienti</th>
                <th>Kerkesa</th>
                <th>Zona</th>
                <th>Data Ora</th>
                <th>Telefon</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Statusi</th>
                <th class="hidden">Problemi</th>
                <th class="hidden">Konstatimi Problemit</th>
                <th>Created By</th>
                <th>Created At</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>








